<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountServiceMapper">

    <!--查找账号信息-->
    <select id="getAllAdmin" parameterType="com.rise.util.PageData"
            resultType="com.rise.entity.common.RiseAdmin">
        SELECT
            id,
            account,
            userName,
            password,
            phone,
            email,
            status,
            `type`
        FROM
            rise_admin
        order by id
		LIMIT #{start},#{length};
    </select>

    <!--获取RiseAdmin总数 -->
    <select id="getAdminCount" parameterType="com.rise.util.PageData" resultType="int">
		SELECT count(id) FROM rise_admin;
	</select>
</mapper>