<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleServiceMapper">

    <!--查找文章信息-->
    <select id="getArticleList" parameterType="com.rise.util.PageData"
            resultType="com.rise.entity.common.RiseArticle">
        SELECT
           *
        FROM
            rise_article
        WHERE `status` != 2
        order by createTime DESC
		LIMIT #{start},#{length};
    </select>

    <!--通过ID查找文章-->
    <select id="getArticleById" parameterType="java.lang.Integer"
            resultType="com.rise.entity.common.RiseArticle">
        SELECT
           *
        FROM
            rise_article
        WHERE id = #{articleID}
    </select>

    <!--获取文章总数 -->
    <select id="getArticleCount" parameterType="com.rise.util.PageData" resultType="int">
		SELECT count(id) FROM rise_article WHERE `status` != 2;
	</select>

    <select id="getArticleTypeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            rise_catalog.id
        FROM
            rise_article
        LEFT JOIN rise_catalog ON rise_article.type = rise_catalog.typeName
        WHERE
            rise_article.id = #{articleID}
    </select>
    
    <select id="getArticleSubTypeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            rise_subType.id
        FROM
            rise_article
        LEFT JOIN rise_subType ON rise_article.subType = rise_subType.subTypeName
        WHERE
            rise_article.id = #{articleID}
    </select>

    <!--伪删除新闻-->
    <update id="deleteArticle" parameterType="java.lang.Integer">
        UPDATE rise_article SET `status` = 2 WHERE id = #{articleID};
    </update>

    <!--发布新闻-->
    <update id="publishArticle" parameterType="java.lang.Integer">
        UPDATE rise_article SET `status` = 1 WHERE id = #{articleID};
    </update>

    <!--撤销发布新闻-->
    <update id="cancelPublishArticle" parameterType="java.lang.Integer">
        UPDATE rise_article SET `status` = 0 WHERE id = #{articleID};
    </update>

    <!--获取文章类型列表 -->
    <select id="getArticleTypeList" resultType="com.rise.entity.common.ArticleType">
		SELECT * FROM rise_catalog;
	</select>

    <!--获取文章子类型列表 -->
    <select id="getSubArticleTypeList" resultType="com.rise.entity.common.SubArticleType">
		SELECT
            rise_subType.id,
            typeName AS parentType,
            subType,
            subTypeName
        FROM
            rise_subType
        LEFT JOIN rise_catalog ON rise_subType.parentID = rise_catalog.id
        WHERE
            parentID = #{articleTypeID}
	</select>

    <!--由ID获取文章类型 -->
    <select id="getTypeById" resultType="java.lang.String">
		SELECT typeName FROM rise_catalog WHERE id = #{typeID};
	</select>

    <!--由ID获取文章子类型 -->
    <select id="getSubTypeById" resultType="java.lang.String">
		SELECT subTypeName FROM rise_subType WHERE id = #{subTypeID};
	</select>

    <!--添加新闻 -->
    <insert id="addArticle" parameterType="com.rise.entity.common.RiseArticle">
        INSERT INTO rise_article(
            title,
            type,
            subType,
            createTime,
            publishTime,
            publisher,
            author,
            content,
            browseCounts,
            titleImage,
            status
        )
        VALUES
        (#{title},#{type},#{subType},#{createTime},#{publishTime},#{publisher},#{author},#{content},#{browseCounts},#{titleImage},#{status})
    </insert>

    <!--更新Article-->
    <update id="updateArticle" parameterType="com.rise.entity.common.RiseArticle">
        UPDATE rise_article
        SET title = #{title},
            `type` = #{type},
            <if test="subType == ''">
                subType = NULL,
            </if>
            <if test="subType != ''">
                subType = #{subType},
            </if>
            publishTime = #{publishTime},
            content = #{content}
        WHERE
            id = #{id};
    </update>

</mapper>