.content-header>.breadcrumb {
    position: relative;
    float: none;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 2px;
    font-weight: bold;
    margin-top: 15px;
    background: #fff;
    top: 0;
    left: 0;
    padding-left: 0;
}

.breadcrumb>li {
    display: inline-block;
}
.tyle{
    width: 80px;
    margin: 0;
    display: inline-block;
}
#applymask{
    /*display: block;*/
}
.dropdown_menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 92px;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0 0 0;
    text-align: center;
    left: 88px;
    top: 82%;
}
.btn {
    border: 1px solid #ddd;
    background: #F5F5F5;
    padding: 3px 10px;
}
.btn .caret {
    margin-left: 30px;
}
.dropdown_menu li {
    padding: 5px 25px;
    cursor: pointer;
    text-align: left;
}
.edui-container {
    position: relative;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fff;
    z-index: 999;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    min-width: 500px;
}
.edui-editor-body .edui-body-container {
    width: 100%!important;
}

.btnbox{
    padding: 6px 10px;
    text-align: center;
    border: 1px solid #ddd;
    color: #000;
    background: #eee;
}
.btn_back,.btn_cx{
    padding: 6px 30px;
    border-radius: 5px;
    background: rgba(31,202,62,1);
    color: #fff;
    font-weight: bold;
    border: 0;
    outline: none;
}
.btn_back{
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    margin-right: 20px;
}